# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite database
# Keep the database in GitHub, so do not ignore it
# *.sqlite3
# db.sqlite3

# Virtual environments
venv/
env/
.venv/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Django specific
*.pot
*.pyc
*.pyo
*.pyd
*.log
*.mo
*.sqlite3-journal
media/
staticfiles/
